.controls__button {
  margin-bottom: 45px;

  background-color: transparent;
  border: none;
  outline: none;
}

.controls__button:hover {
  cursor: pointer;
}

.controls__button:focus {
  outline: none;
}
