body {
  font-family: 'Space Grotesk', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.4px;
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 12px solid #000;
}

.header {
  display: grid;
  grid-template-areas:
    'title root'
    'description root'
    'link root';
  grid-template-columns: 37% 1fr;
  background-color: #eee;
  padding: 40px;
}

#root {
  grid-area: root;
  display: flex;
}

.header__title {
  grid-area: title;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -1px;

  color: #000000;
}

.header__title_description {
  grid-area: description;
  margin-bottom: 128px;
  color: #1b191c;
}

.header__link_wrapper {
  grid-area: link;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.3px;

  color: #1b191c;
}

.header__link {
  text-decoration: none;
  color: #1b191c;
}

.main {
  padding: 120px 40px;
  background-color: #000;
  color: #eee;
}

.main__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  margin-bottom: 120px;
}

.main__description_title {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -1px;

  color: #f5f6f7;
}

.main__image {
  height: 248px;
  background-image: url('../public/Illustration.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.main__technical_title {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 24px;

  color: #f5f6f7;
}

.technical__buttons_list {
  display: flex;
  list-style-type: none;
  margin-bottom: 32px;
  gap: 16px;
  align-items: end;
}

.technical__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  list-style-type: none;
  margin-bottom: 32px;
}

.technical__item {
  display: flex;
  padding: 12px 0px;
  border-bottom: 1px solid rgba(207, 211, 214, 0.1);
}

.technical__item_name {
  width: 250px;
}

.technical__button {
  font-family: 'Space Grotesk', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.4px;

  transition: all 0.3s;
  border: none;
  background-color: transparent;
  color: #cfd3d6;

  opacity: 0.4;
}

.technical__button:hover {
  border-bottom: 1px solid #eee;
  color: #f5f6f7;
  opacity: 1;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #eee;
  color: #f5f6f7;
  opacity: 1;
}

.active:hover {
  cursor: default;
}

@media (max-width: 950px) {
  .header__title {
    font-size: 36px;
    line-height: 110%;

    letter-spacing: -0.4px;
  }

  .main {
    padding: 40px;
  }

  .main__description {
    display: flex;
    flex-direction: column;
  }

  .main__description_title {
    font-size: 36px;
    line-height: 110%;

    letter-spacing: -0.4px;
  }

  .technical__item_name {
    width: 150px;
  }
}

@media (max-width: 768px) {
  #root {
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .header__title {
    margin-bottom: 40px;
  }

  .header__title_description {
    margin-bottom: 12px;
  }
}

@media (max-width: 650px) {
  .technical__list {
    display: flex;
    flex-direction: column;
  }

  .technical__item {
    flex-direction: column;
  }

  .technical__item:nth-child(2) {
    order: 1;
  }

  .technical__item:nth-child(4) {
    order: 2;
  }

  .technical__item_name {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .container {
    border: none;
  }

  .header {
    padding: 20px 12px;
  }

  .main {
    padding: 40px 12px;
  }
}
